@import './../colors';

.center {
    justify-content: center;
    display: flex;

    .options {
        background-color: $silverSandLight;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        max-width: 400px;
        border-radius: 8px;
        margin-bottom: 20px;
        margin-top: 35px;

        .size-input {
            margin-top: 4px;
            padding: 2px;
            margin-left: 5px;
            margin-right: 5px;
        }

        .name-input {
            width: 70%;
            padding: 2px;
        }

        .size-warning {
            color: $errorColorDark;
            font-size: 14px;
            font-style: italic;
        }

        .name-warning {
            color: $errorColorDark;
            font-size: 14px;
            font-style: italic;
        }

        .save-button {
            display: inline-block;
            margin-top: 5px;
            padding: 5px;
            background-color: $blackCoral;
            color: white;
            cursor: pointer;
            text-decoration: none;
            border: none;
                &:hover {
                    background-color: $blackCoralLight;
                }
                &:active {
                    position:relative;
                    top:1px;
                }
        }
    }

    .drawing-grid {
        margin-bottom: 20px;

        .draw-row {

            .draw-square {
                border: 2px solid $gunMetal;
                height: 34px;
                margin: -1px;
                padding: 0;
                width: 34px;
                color: $gunMetal;
                text-align: center;
                font-size: 35px;
                line-height: 36px;
                user-select: none;
                float: left;
                border-radius: 3px;
            }

            .draw-square-filled {
                border: 2px solid $gunMetal;
                background-color: $gunMetal;
                height: 34px;
                margin: -1px;
                padding: 0;
                width: 34px;
                color: $gunMetal;
                text-align: center;
                font-size: 35px;
                line-height: 36px;
                user-select: none;
                float: left;
                border-radius: 3px;
            }

        }

    }
}
