.square {
    border: 2px solid #35393C;
    height: 34px;
    margin: -1px;
    padding: 0;
    width: 34px;
    color: #35393C;
    text-align: center;
    font-size: 35px;
    line-height: 36px;
    user-select: none;
}