$gunMetal: #2D3142;
$gunMetalTransparent: rgba(45, 49, 66, 0.38);

$blackCoral: #4F5D75;
$blackCoralLight: #5e6775;

$silverSand: #BFC0C0;
$silverSandLight: #dbdbdb;

$white: #ffffff;

$mandarin: #EF8354;